---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Confirmation">

    <main class="main">
        <section class="envio">
          <div>
            <img src="/images/envio.svg" alt="icone de ok do email enviado.">
            <h2 class="section-title">Thank you for your <span class="section-span">email</span>!</h2>
            <p class="section-description">your confirm have been sent  to your email</p>
          </div>
        </section>
      </main>

</Layout>