---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Politique de confidentialite">
    <main class="main">
        <section class="section privacy grid" >
  
          <div class="privacy-container">
            <span class="sub-title">Politics</span>
              <h2>Privacy <span class="section-span">Policy</span></h2>
  
              <h4>1. Chargeback Policy</h4>
              <p>We collect your data according to your access and use of our websites, applications and services offered by Playstation or by partners that have been duly authorized by us.</p>
  
              <p>1.1 Information will be collected:</p>
  
              <ul>
                <li>(i) When you voluntarily complete the registration available on our</li>
                <li>(ii) During your browsing on our websites, being stored in your computer's browser;</li>
                <li>(iii) To send newsletters or inform you about promotions and contests, provided you give us permission to do so; </li>
                <li>(iv) From partners who have obtained authorization to share them with Playstation.</li>
              </ul>
  
                <p>1.2 The information PlayStation collects may include, but is not limited to:</p>
  
                <ul>
                  <li>(i) Registration data¹ and address; </li>
                  <li>(ii) Data for the verification of the User's identity; </li>
                  <li>(iii) Data for data management processes; and</li>
                  <li>(iv) Navigational data.</li>
                </ul>
  
               
          </div>
        </section>
      </main>
  
</Layout>