---
import CardProduct from '../components/produits/cardProduct.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Produits">
    <main class="main">
        <section class="top section grid" >
            <div class="top-content" style="margin-top:23%">
                <h2 class="top-title section-title delaySmall">Meilleur contrôleur <span class="section-span">maintenant</span></h2>
                <p class="top-description delayMedium">Contrôleur sans fil Elite PlayStation Series 2</p>
                <div class="top-content-card">
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 noir" 
                    title="Contrôleur PS4" 
                    rating={3} 
                    reviews={15} 
                    price="€ 200" 
                    link="/produits#ps4" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-1.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur PS5" 
                    rating={5} 
                    reviews={30} 
                    price="€ 400" 
                    link="/produits#ps5" 
                    />
                    <CardProduct 
                    imageSrc="/images/Controller-3.png" 
                    altText="contrôleur PlayStation 4 blanc" 
                    title="Contrôleur Squid" 
                    rating={6} 
                    reviews={43} 
                    price="€ 550" 
                    link="/produits#squid" 
                    />
                </div>
            </div>
        </section>
    </main>
</Layout>