---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Terme d'utilisation">
    <main class="main">
        <section class="section terms grid" >
  
          <div class="terms-container">
              <span class="sub-title">AGREEMENT</span>
              <h2>Terms of <span class="section-span">Service</span></h2>
              <p>We now ts engting to skip these Terms otf Service. ut simportort to estabish whar yoou can epect tron us as ou use vartage serices, and what we epect fron you.</p>
              <p>These Terms of Service reflect the way Vantage business works, the laws that apply to our company, and certain things we've always believed to be
                true. As a result, these Terms of Service help define Vantage's relationship with you as you interact with our services. For example, these terms include the following topic headings:</p>
  
                <ul class="about-list">
                  <li>What you can expect from us, which describes how we provide and develop our services</li>
                  <li>What we expect from you, which establishes certain rules for using our services </li>
                  <li> In case of problems or disagreements, which describes other legal rights you have, and what to expect in case someone violates these terms</li>
                  <li>In case of problems or disagreements, which describes other legal rights you have, and what to expect in case someone violates these terms</li>
                </ul>
  
                <p>Understanding these terms is important because, to use our services, you must accept these terms.</p>
                <p>Besides these terms, we also publish a Privacy Policy. Although it's not part of these terms, we encourage you to read it to better understand how you
                  can update, manage, export, and delete your information.</p>
          </div>
        </section>
      </main>
</Layout>